<html>
<head>
<title>Adding files to WinCVS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="default.css" type="text/css">
</head>
<body>
<table width="600" border="0" cellspacing="2" cellpadding="2">
<tr valign="top">
<td width="75"><div align="center"><a href="index.html" class="menu">Home</a></div></td>
<td width="75"><div align="center"><a href="preferences.html" class="menu">Setting the Preferences</a></div></td>
<td width="75"><div align="center"><a href="login.html" class="menu">Logging In</a></div></td>
<td width="75"><div align="center"><a href="checkout.html" class="menu">Checking out a module</a></div></td>
<td width="75"><div align="center"><a href="navigate.html" class="menu">Navigating</a></div></td>
<td width="75"><div align="center"><span class="menu">Adding files</span></div></td>
<td width="75"><div align="center"><a href="committing.html" class="menu">Committing files</a></div></td>
<td width="75"><div align="center"><a href="logout.html" class="menu">Logging out</a></div></td>
</tr>
<tr><td colspan="8"><hr></td></tr>
</table>
<h1>Adding files to WinCVS</h1>
<table cellpadding="4">
<tr>
<td valign="top"><strong>1</strong></td>
<td valign="top">
<p>To add a file, first place the file in the directory structure on your hard drive. This will be in the same directory (or a sub-directory) as the one you specified as your <strong>HOME folder</strong> in your WinCVS <a href="preferences.html">Preferences</a>.</p>
<p>In the example below, a file named <strong>temp.shtml</strong> was added.</p>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/windows.gif" alt="Windows Explorer icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/adding/file_directory.gif" alt="Windows Explorer" width="507" height="210" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>2</strong></td>
<td valign="top">
<p>In WinCVS, navigate to the same directory in your <strong>HOME folder</strong> and select the added file.</p>
<p class="note">Note: Notice that if a file has not been added to WinCVS, the file's icon will display as a white page with a question mark.</p>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/adding/file.gif" alt="WinCVS" width="509" height="388" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>3</strong></td>
<td valign="top">
<p>Select <strong>Modify -&gt; Add selection</strong>.</p>
<p class="note">Note: <strong>Add selection</strong> should be used for text files. If you are adding a PDF or image, select <strong>Add selection binary</strong>.</p>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/adding/add_selection.gif" width="509" height="388" alt="WinCVS" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>4</strong></td>
<td valign="top">Once WinCVS has added the file, the file's icon will display as a red page with a letter 'A'.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/adding/added.gif" width="509" height="388" alt="WinCVS" border="0"></td>
</tr>
<tr>
<td></td>
<td valign="top">You will now need to <a href="committing.html">commit the file</a> so that it may be published.</td>
</tr>
</table>
</body>
</html>