<html>
<head>
<title>Committing files in WinCVS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="default.css" type="text/css">
</head>
<body>
<table width="600" border="0" cellspacing="2" cellpadding="2">
<tr valign="top">
<td width="75"><div align="center"><a href="index.html" class="menu">Home</a></div></td>
<td width="75"><div align="center"><a href="preferences.html" class="menu">Setting the Preferences</a></div></td>
<td width="75"><div align="center"><a href="login.html" class="menu">Logging In</a></div></td>
<td width="75"><div align="center"><a href="checkout.html" class="menu">Checking out a module</a></div></td>
<td width="75"><div align="center"><a href="navigate.html" class="menu">Navigating</a></div></td>
<td width="75"><div align="center"><a href="adding.html" class="menu">Adding files</a></div></td>
<td width="75"><div align="center"><span class="menu">Committing files</span></div></td>
<td width="75"><div align="center"><a href="logout.html" class="menu">Logging out</a></div></td>
</tr>
<tr><td colspan="8"><hr></td></tr>
</table>
<h1>Committing files in WinCVS</h1>
<table cellpadding="4">
<tr>
<td valign="top"><strong>1</strong></td>
<td valign="top">A file's icon will display as a red page with a letter 'A' if the file has been edited but has not been committed.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/adding/added.gif" width="509" height="388" alt="WinCVS" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>2</strong></td>
<td valign="top">To commit a file, select it. Then choose <strong>Modify -&gt; Commit selection</strong>.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/committing/commit_selection.gif" alt="WinCVS" width="509" height="388" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>3</strong></td>
<td valign="top">The <strong>Commit settings</strong> dialog will appear. Enter  the <strong>log message</strong> (editing comments) and click the <strong>OK</strong> button.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/committing/commit_settings.gif" alt="Commit settings" width="452" height="325" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>4</strong></td>
<td valign="top">Once the file has been committed, the file's icon will display as a white document.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/committing/completed.gif" alt="WinCVS" width="509" height="388" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>5</strong></td>
<td valign="top">
<p>Below is an example of the email message that is sent after a file has been committed, as shown in Microsoft Outlook.</p>
<p>As you can see, the <strong>comments</strong> we added in the <strong>Commit settings</strong> dialog display in the email message.</p>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/outlook.gif" width="32" height="32"></td>
<td valign="top"><img src="images/committing/email.gif" alt="Outlook" width="509" height="388" border="0"></td>
</tr>
<tr>
<td></td>
<td valign="top">If you have completed your edits, you may <a href="logout.html">logout</a>.</td>
</tr>
</table>
</body>
</html>