<html>
<head>
<title>Logging into WinCVS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="default.css" type="text/css">
</head>
<body>
<table width="600" border="0" cellspacing="2" cellpadding="2">
<tr valign="top">
<td width="75"><div align="center"><a href="index.html" class="menu">Home</a></div></td>
<td width="75"><div align="center"><a href="preferences.html" class="menu">Setting the Preferences</a></div></td>
<td width="75"><div align="center"><span class="menu">Logging In</span></div></td>
<td width="75"><div align="center"><a href="checkout.html" class="menu">Checking out a module</a></div></td>
<td width="75"><div align="center"><a href="navigate.html" class="menu">Navigating</a></div></td>
<td width="75"><div align="center"><a href="adding.html" class="menu">Adding files</a></div></td>
<td width="75"><div align="center"><a href="committing.html" class="menu">Committing files</a></div></td>
<td width="75"><div align="center"><a href="logout.html" class="menu">Logging out</a></div></td>
</tr>
<tr><td colspan="8"><hr></td></tr>
</table>
<h1>Logging into WinCVS</h1>
<table cellpadding="4">
<tr>
<td valign="top"><strong>1</strong></td>
<td valign="top">To login, select <strong>Admin -&gt; Login</strong>.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/login/login.gif" alt="WinCVS" width="509" height="388" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>2</strong></td>
<td valign="top">
<p>The <strong>Password authentication</strong> dialog will appear.</p>
<p>Enter your <strong>password</strong> and click the <strong>OK</strong> button.</p>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/login/authentication.gif" width="509" height="388" alt="Password authentication dialog" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>3</strong></td>
<td valign="top">
<p>If your login <strong>failed</strong>, the result in the <strong>Output</strong> area will read:</p>
<blockquote>
<pre>*****CVS exited normally with code 1*****</pre>
</blockquote>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/login/bad_login.gif" width="509" height="388" alt="WinCVS" border="0"></td>
</tr>
<tr>
<td></td>
<td valign="top">
<p>If your login was <strong>successful</strong>, the result in the <strong>Output</strong> area will read:</p>
<blockquote>
<pre>*****CVS exited normally with code 0*****</pre>
</blockquote>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/login/good_login.gif" width="509" height="388" alt="WinCVS" border="0"></td>
</tr>
<tr>
<td></td>
<td valign="top">You are now ready to <a href="checkout.html">checkout a module</a>.</td>
</tr>
</table>
</body>
</html>