<html>
<head>
<title>Logging out of WinCVS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="default.css" type="text/css">
</head>
<body>
<table width="600" border="0" cellspacing="2" cellpadding="2">
<tr valign="top">
<td width="75"><div align="center"><a href="index.html" class="menu">Home</a></div></td>
<td width="75"><div align="center"><a href="preferences.html" class="menu">Setting the Preferences</a></div></td>
<td width="75"><div align="center"><a href="login.html" class="menu">Logging In</a></div></td>
<td width="75"><div align="center"><a href="checkout.html" class="menu">Checking out a module</a></div></td>
<td width="75"><div align="center"><a href="navigate.html" class="menu">Navigating</a></div></td>
<td width="75"><div align="center"><a href="adding.html" class="menu">Adding files</a></div></td>
<td width="75"><div align="center"><a href="committing.html" class="menu">Committing files</a></div></td>
<td width="75"><div align="center"><span class="menu">Logging out</span></div></td>
</tr>
<tr><td colspan="8"><hr></td></tr>
</table>
<h1>Logging out of WinCVS</h1>
<table cellpadding="4">
<tr>
<td valign="top"><strong>1</strong></td>
<td valign="top">To logout, select <strong>Admin -&gt; Logout</strong>.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/logout/logout.gif" width="509" height="388"></td>
</tr>
<tr>
<td valign="top"><strong>2</strong></td>
<td valign="top">The Output window (at the bottom of these screens) will cycle, and you will be logged out of the module you were working in.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/logout/logged_out.gif" width="509" height="388" alt="Objects palette" border="0"></td>
</tr>
<tr>
<td></td>
<td valign="top">
<p>When finished, quit the WinCVS application.</p>
<p>Back to <a href="index.html">home</a></p>
</td>
</tr>
</table>
</body>
</html>