<html>
<head>
<title>Navigating in WinCVS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="default.css" type="text/css">
</head>
<body>
<table width="600" border="0" cellspacing="2" cellpadding="2">
<tr valign="top">
<td width="75"><div align="center"><a href="index.html" class="menu">Home</a></div></td>
<td width="75"><div align="center"><a href="preferences.html" class="menu">Setting the Preferences</a></div></td>
<td width="75"><div align="center"><a href="login.html" class="menu">Logging In</a></div></td>
<td width="75"><div align="center"><a href="checkout.html" class="menu">Checking out a module</a></div></td>
<td width="75"><div align="center"><span class="menu">Navigating</span></div></td>
<td width="75"><div align="center"><a href="adding.html" class="menu">Adding files</a></div></td>
<td width="75"><div align="center"><a href="committing.html" class="menu">Committing files</a></div></td>
<td width="75"><div align="center"><a href="logout.html" class="menu">Logging out</a></div></td>
</tr>
<tr>
<td colspan="8"><hr></td>
</tr>
</table>
<h1>Navigating in WinCVS</h1>
<table cellpadding="4">
<tr>
<td valign="top"><strong>1</strong></td>
<td valign="top">
<p>Navigating in WinCVS is very similar to navigating in Windows Explorer.</p>
<p>Double-click on directories to drill down in the file structure.</p>
<p>To move up in the hierarchy, you may select a directory in the left column, or alternatively, click on the <strong>Up one level</strong> icon (shown below circled in red).</p>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/navigate/navigate_directory.gif" width="509" height="388"></td>
</tr>
<tr>
<td valign="top"><strong>2</strong></td>
<td valign="top"><strong>Double-click</strong> on files to open them in the editor you specified in your <a href="preferences.html">WinCVS Preferences</a>. After editing files, you will need to <a href="committing.html">commit</a> them.</td>
</tr>
<tr>
<td></td>
<td valign="top"><img src="images/navigate/navigate_file.gif" width="509" height="388"></td>
</tr>
<tr>
<td></td>
<td valign="top">You may now <a href="adding.html">add documents</a>.</td>
</tr>
</table>
</body>
</html>