<html>
<head>
<title>WinCVS Preferences</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="default.css" type="text/css">
</head>
<body>
<table width="600" border="0" cellspacing="2" cellpadding="2">
<tr valign="top">
<td width="75"><div align="center"><a href="index.html" class="menu">Home</a></div></td>
<td width="75"><div align="center"><span class="menu">Setting the Preferences</span></div></td>
<td width="75"><div align="center"><a href="login.html" class="menu">Logging In</a></div></td>
<td width="75"><div align="center"><a href="checkout.html" class="menu">Checking out a module</a></div></td>
<td width="75"><div align="center"><a href="navigate.html" class="menu">Navigating</a></div></td>
<td width="75"><div align="center"><a href="adding.html" class="menu">Adding files</a></div></td>
<td width="75"><div align="center"><a href="committing.html" class="menu">Committing files</a></div></td>
<td width="75"><div align="center"><a href="logout.html" class="menu">Logging out</a></div></td>
</tr>
<tr><td colspan="8"><hr></td></tr>
</table>
<h1>WinCVS Preferences</h1>
<table cellpadding="4">
<tr>
<td valign="top"><strong>1</strong></td>
<td valign="top">After installing and launching the WinCVS application, select <strong>Admin -&gt; Preferences</strong> in the main interface window.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/prefs/preferences.gif" alt="WinCVS" width="509" height="388" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>2</strong></td>
<td valign="top">
<p>The <strong>WinCVS Preferences</strong> dialog will appear.</p>
<p>From the <strong>General</strong> tab:</p>
<ul>
<li>Enter the <strong>CVSROOT</strong>, substituting your user name for <strong>osbornel</strong>.</li>
<li>Select <strong>&quot;passwd&quot; file on the cvs server</strong> for the Authentication type.</li>
</ul>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/prefs/general.gif" width="452" height="313" alt="WinCVS Preferences dialog" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>3</strong></td>
<td valign="top">Make any necessary changes to the <strong>Globals</strong> tab as shown below.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/prefs/globals.gif" width="452" height="313" alt="WinCVS Preferences dialog" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>4</strong></td>
<td valign="top">Make any necessary changes to the <strong>Ports</strong> tab as shown below.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/prefs/ports.gif" alt="WinCVS Preferences dialog" width="452" height="313" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>5</strong></td>
<td valign="top">Make any necessary changes to the <strong>Proxy</strong> tab as shown below.</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/prefs/proxy.gif" alt="WinCVS Preferences dialog" width="452" height="313" border="0"></td>
</tr>
<tr>
<td valign="top"><strong>6</strong></td>
<td valign="top">
<p>From the <strong>WinCVS</strong> tab:</p>
<ul>
<li>Select a default viewer used to open files. In reality, this is a default <strong>editor</strong> that you will be using to <strong>edit</strong> files. In this example,  <a href="http://www.macromedia.com/software/homesite/" target="_blank">HomeSite</a> has been chosen.<br><span class="note">Note: Microsoft Word is <strong>NOT</strong> recommended as an editor.</span></li>
<li>Make sure <strong>Use on double click</strong> has been checked.</li>
<li>Select a <strong>HOME folder</strong> on your hard drive (you may have to create a directory first). This is where WinCVS will store your password, as well as all of the files you will edit. In this example, we selected a directory named <strong>dublincore.org</strong>.</li>
</ul>
</td>
</tr>
<tr>
<td valign="top"><img src="images/icons/wincvs.gif" alt="WinCVS icon" width="32" height="32" border="0"></td>
<td valign="top"><img src="images/prefs/wincvs.gif" alt="WinCVS Preferences dialog" width="452" height="313" border="0"></td>
</tr>
<tr>
<td></td>
<td valign="top">
<p>When finished making changes to the WinCVS Preferences, click the <strong>OK</strong> button.</p>
<p>You are now ready to <a href="login.html">Login</a>.</p>
</td>
</tr>
</table>
</body>
</html>