<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>DCMI Registry Lite</display-name>
	<context-param>
		<param-name>Contact</param-name>
		<param-value>wagnerh@oclc.org</param-value>
	</context-param>

	<!-- filter to set character encoding to UTF8 on each request -->
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>org.dublincore.dcregistrylt.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>navigateServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.navigateServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>queryServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.queryServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
		
	<servlet>
		<servlet-name>helpServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.helpServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>termsOverviewServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.termsOverviewServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>detailServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.detailServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.searchServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>elementsServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.elementsServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>refinementsServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.refinementsServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>controlledTermsServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.controlledTermsServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>encodingSchemesServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.encodingSchemesServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>summaryServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.summaryServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>provenanceServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.provenanceServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>preferenceServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.preferenceServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>exampleServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.exampleServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>rdfViewServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.rdfViewServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>pageDisplayServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.pageDisplayServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>canonicalServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.canonicalServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>getRefinementsServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.getRefinementsServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.adminServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>adminLoginServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.adminLoginServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>adminLogManagerServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.adminLogManagerServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>adminStatsServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.adminStatsServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>adminLogoutServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.adminLogoutServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>adminExtensionManagerServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.adminExtensionManagerServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>defaultExtensionServlet</servlet-name>
		<servlet-class>org.dublincore.dcregistrylt.servlet.defaultExtensionServlet</servlet-class>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>registry.properties</param-value>
		</init-param>
	</servlet>

	<!-- servlet mappings -->
	<servlet-mapping>
		<servlet-name>navigateServlet</servlet-name>
		<url-pattern>/navigateServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>queryServlet</servlet-name>
		<url-pattern>/queryServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>helpServlet</servlet-name>
		<url-pattern>/helpServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>termsOverviewServlet</servlet-name>
		<url-pattern>/termsOverviewServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>detailServlet</servlet-name>
		<url-pattern>/detailServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/searchServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>elementsServlet</servlet-name>
		<url-pattern>/elementsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>refinementsServlet</servlet-name>
		<url-pattern>/refinementsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>controlledTermsServlet</servlet-name>
		<url-pattern>/controlledTermsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>encodingSchemesServlet</servlet-name>
		<url-pattern>/encodingSchemesServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>summaryServlet</servlet-name>
		<url-pattern>/summaryServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>provenanceServlet</servlet-name>
		<url-pattern>/provenanceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>preferenceServlet</servlet-name>
		<url-pattern>/preferenceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>exampleServlet</servlet-name>
		<url-pattern>/exampleServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>rdfViewServlet</servlet-name>
		<url-pattern>/rdfViewServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>pageDisplayServlet</servlet-name>
		<url-pattern>/pageDisplayServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>canonicalServlet</servlet-name>
		<url-pattern>/canonicalServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>getRefinementsServlet</servlet-name>
		<url-pattern>/getRefinementsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/adminServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adminLoginServlet</servlet-name>
		<url-pattern>/adminLoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adminLogManagerServlet</servlet-name>
		<url-pattern>/adminLogManagerServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adminStatsServlet</servlet-name>
		<url-pattern>/adminStatsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adminLogoutServlet</servlet-name>
		<url-pattern>/adminLogoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adminExtensionManagerServlet</servlet-name>
		<url-pattern>/adminExtensionManagerServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>defaultExtensionServlet</servlet-name>
		<url-pattern>/defaultExtensionServlet</url-pattern>
	</servlet-mapping>
			
</web-app>
