body { margin: 10px 0px 40px 0px; padding: 0px 0px 0px 0px; color: #333; background-color: #fff; }
div.dcFeed { font-size: 10px; line-height: 15px; font-family: Georgia, serif; color: #666; }
div.dcFooter { font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #676767; }
div.dcSidebar { font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #676767; }
div.dcText { font-size: 11px; line-height: 17px; font-family: Georgia, serif; }